# JLINK OpenOCD config for STM32F103C8T6

source [find interface/jlink.cfg]
transport select swd

set CHIPNAME stm32f1x
set WORKAREASIZE 0x1000
set FLASH_SIZE 0x10000

source [find target/stm32f1x.cfg]

adapter speed 480

# No SRST pin
reset_config none
cortex_m reset_config vectreset

# Resume target when GDB disconnects (so MCU keeps running after debug stops)
stm32f1x.cpu configure -event gdb-detach resume
